@mixin display($size, $tablet-size: $size, $mobile-size: $tablet-size, $important: false) {

  @media (min-width: 1025px) {
    display: $size;
    @if $important {
      display: $size !important;
    }
  } // end of @media (min-width: 1025px)

  @media (min-width: 768px) and (max-width: 1024px) {
    display: $tablet-size;
    @if $important {
      display: $tablet-size !important;
    }
  } // end of @media (min-width: 768px) and (max-width: 1024px)
  
  @media (max-width: 767px) {
    display: $mobile-size;
    @if $important {
      display: $mobile-size !important;
    }
  } // end of @media (max-width: 767px)

} // end of @mixin display($size, $tablet-size: $size, $mobile-size: $tablet-size, $important: false)

.d-block {
  display: block;
}

.highlight-outline {
  font-weight: 800;
  color: #f0ef24;
  -webkit-text-stroke: 5px #B72C9D;
}