<footer id="footer">
  <div class="container">

    <h2>Follow Us</h2>

    <div class="social-links">
      <a href="{{ settings.facebook_link }}"><i class="fab fa-facebook-f"></i></a>
      <a href="{{ settings.instagram_link }}"><i class="fab fa-instagram"></i></i></a>
    </div><!--/.social-links-->

  </div><!--/.container-->
</footer>