{% comment %}
** Home Banner 1 - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

<div id="home-banner">
  Home Banner Test
</div>

{% schema %}
  {
    "name": "Home Banner 1",
    "class": "home-banner-1",    
    "settings": [],
    "presets": [{
      "name": "Home Banner 1",
      "category": "Banner"      
    }]
  }
{% endschema %}